ASN_MODULE_SOURCES=	\
	Condition.c	\
	SimpleSha256Condition.c	\
	CompoundSha256Condition.c	\
	ConditionTypes.c	\
	Fulfillment.c	\
	PreimageFulfillment.c	\
	PrefixFulfillment.c	\
	ThresholdFulfillment.c	\
	RsaSha256Fulfillment.c	\
	Ed25519Sha512Fulfillment.c	\
	Secp256k1Fulfillment.c	\
	Secp256k1hashFulfillment.c	\
	EvalFulfillment.c	\
	PrefixFingerprintContents.c	\
	ThresholdFingerprintContents.c	\
	RsaFingerprintContents.c	\
	Ed25519FingerprintContents.c	\
	Secp256k1FingerprintContents.c	\
	Secp256k1hashFingerprintContents.c

ASN_MODULE_HEADERS=	\
	Condition.h	\
	SimpleSha256Condition.h	\
	CompoundSha256Condition.h	\
	ConditionTypes.h	\
	Fulfillment.h	\
	PreimageFulfillment.h	\
	PrefixFulfillment.h	\
	ThresholdFulfillment.h	\
	RsaSha256Fulfillment.h	\
	Ed25519Sha512Fulfillment.h	\
	Secp256k1Fulfillment.h	\
	Secp256k1hashFulfillment.h	\
	EvalFulfillment.h	\
	PrefixFingerprintContents.h	\
	ThresholdFingerprintContents.h	\
	RsaFingerprintContents.h	\
	Ed25519FingerprintContents.h	\
	Secp256k1FingerprintContents.h	\
	Secp256k1hashFingerprintContents.h



lib_LTLIBRARIES=libsomething.la
libsomething_la_SOURCES=$(ASN_MODULE_SOURCES) $(ASN_MODULE_HEADERS)

# This file may be used as an input for make(3)
# Remove the lines below to convert it into a pure .am file
TARGET = progname
CFLAGS += -I.
OBJS=${ASN_MODULE_SOURCES:.c=.o} ${ASN_CONVERTER_SOURCES:.c=.o}

all: $(TARGET)

$(TARGET): ${OBJS}
	$(CC) $(CFLAGS) -o $(TARGET) ${OBJS} $(LDFLAGS) $(LIBS)

.SUFFIXES:
.SUFFIXES: .c .o

.c.o:
	$(CC) $(CFLAGS) -o $@ -c $<

clean:
	rm -f $(TARGET)
	rm -f $(OBJS)

regen: regenerate-from-asn1-source

regenerate-from-asn1-source:
	/Users/dimxy/repo/asn1c/asn1c/asn1c ./CryptoConditions-pkhash.asn

